# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Environments
.env
.venv
env/
../venv/
ENV/
env.bak/
venv.bak/
/runs

# project settings
.vscode
.github
__pycache__/
# Black linter
pyproject.toml
uv.lock
README_personal.md

# Visual png files
src/visuals